annotated-types==0.6.0 ; python_version >= "3.11" and python_version < "3.12"
pydantic-core==2.10.1 ; python_version >= "3.11" and python_version < "3.12"
pydantic==2.4.2 ; python_version >= "3.11" and python_version < "3.12"
restrictedpython==6.2 ; python_version >= "3.11" and python_version < "3.12"
typing-extensions==4.8.0 ; python_version >= "3.11" and python_version < "3.12"
